<script lang="ts" setup>
import { ref } from 'vue';

const input1 = ref(true);
const input2 = ref('bbb');
const input3 = ref('<h1>aaa</h1>');

const output1 = ref('');
const output2 = ref('');
const output3 = ref('');

const setInput2 = (event: Event) => {
  const value = (event.target as HTMLInputElement).value;
  input2.value = value;
}

const clickOutput = () => {
  output1.value = input1.value ? 'チェックあり' : 'チェックなし';
  output2.value = input2.value;
  output3.value = input3.value;
}

const clickClear = () => {
  input1.value = false;
  input2.value = '';
  input3.value = '';

  output1.value = '';
  output2.value = '';
  output3.value = '';
}
</script>

<template>
  <section>
    <h3>入力</h3>
    <div class="block">
      <label for="input1"> チェック </label>
      <input type="checkbox" name="input1" id="input1" v-model="input1" />
    </div>
    <div class="block">
      <label for="input2"> 値入力1 </label>
      <input type="text" name="input2" id="input2" :value="input2" @input="setInput2" />
    </div>
    <div class="block">
      <label for="input3"> 値入力2(HTML) </label>
      <input type="text" name="input3" id="input3" v-model="input3" />
    </div>
  </section>

  <section>
    <h3>出力</h3>
    <div class="block">
      <span>チェック</span>
      <span id="output1">{{ output1 }}</span>
    </div>
    <div class="block">
      <span>値出力1</span>
      <span id="output2">{{ output2 }}</span>
    </div>
    <div class="block">
      <span>値出力2(HTML)</span>
      <span v-html="output3"></span>
    </div>
  </section>

  <div class="block-button">
    <input type="button" id="out" value="出力" @click="clickOutput" />
    <input type="button" id="clear" value="クリア" @click="clickClear" />
  </div>
</template>

<style scoped>
.block {
  display: flex;
  align-items: center;
  margin: 8px;
}

.block>*:first-child {
  flex: 0 1 30%;
}

.block-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 8px;
}

.block-button>input {
  flex: 0 1 20%;
  margin: 0px 8px;
}
</style>
