.block {
  display: flex;
  align-items: center;
  margin: 8px;
}
.block > *:first-child {
  flex: 0 1 30%;
}

.block-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 8px;
}
.block-button > input {
  flex: 0 1 20%;
  margin: 0px 8px;
}
