<section>
  <h3>入力</h3>
  <div class="block">
    <label for="input1"> チェック </label>
    <input type="checkbox" name="input1" id="input1" [(ngModel)]="input1" />
  </div>
  <div class="block">
    <label for="input2"> 値入力1 </label>
    <input
      type="text"
      name="input2"
      id="input2"
      [value]="input2"
      (input)="setInput2($event)"
    />
  </div>
  <div class="block">
    <label for="input3"> 値入力2(HTML) </label>
    <input type="text" name="input3" id="input3" [(ngModel)]="input3" />
  </div>
</section>

<section>
  <h3>出力</h3>
  <div class="block">
    <span>チェック</span>
    <span>{{ output1 }}</span>
  </div>
  <div class="block">
    <span>値出力1</span>
    <span>{{ output2 }}</span>
  </div>
  <div class="block">
    <span>値出力2(HTML)</span>
    <span [innerHTML]="output3"></span>
  </div>
</section>

<div class="block-button">
  <input type="button" id="out" value="出力" (click)="clickOutput()" />
  <input type="button" id="clear" value="クリア" (click)="clickClear()" />
</div>
